@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');


.homepage nav {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .nav-transparent {
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
    font-size: 1.2em;
    z-index: 100;
  }
  
  .nav-transparent .nav-link,
  .nav-transparent .navbar-brand, 
  .nav-transparent p {
    color: white;
  }
  
  .nav-transparent .navbar-brand {
    font-weight: bold;
  }
  
  .nav-transparent .navbar-brand:hover,
  .nav-transparent .nav-link:hover {
    color: #ffec5c;
  }
  
  .homepage > section.container-fluid,
  .homepage > section.container {
    width: 100vw;
    height: 100vh;
    padding-top: 56px;
  }
  

   body {
    font-family: 'Oxygen' ;
    background: url('/static/img/pale_yellow2.jpg') no-repeat center center fixed;
  }

  .line-wipe {
    position: relative;
    text-decoration: none !important;
    display: inline-block;
  }
  
  .line-wipe:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid rgb(55, 170, 243);
    transition: 0.5s width;
  }
  
  .line-wipe:hover:after {
    width: 100%;
    border-bottom-color: rgb(0, 86, 179);
  }