<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>MME Calculator</title>

      <!-- meta properties for preview -->
      <meta property="og:site_name" content="MME Calculator"/>
      <meta property="og:title" content="Morphine Milligram Equivalent Calculator"/>
      <meta property="og:type" content="website" />
      <meta property="og:description" content="Calculating total daily MME can help guide clinicians in pain management and aid in mitigating opioid addiction and accidental overdose. The calculator will calculate the total daily MME for the given medication list, and relay the appropriate clinical assessment for the MME that populates."/>
      <meta property="og:image" content="/static/img/calc.jpg"/>
      <meta property="og:url" content="http://mme-calc.com/"/>
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@dr_khanderz" />


      <!-- Jquery import -->
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

      <!-- moment import -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

      <!-- chart.js import -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
   
      <!-- random color import -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>

      <!-- Bootstrap import -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <!-- favicons -->
      <link rel="icon" type="image/png" href="/static/img/Pill-favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/static/img/Pill-favicon-36x36.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/static/img/Pill-favicon-96x96.png" sizes="96x96">


       
  

      <title>
      {% block title %}
      {% endblock %}
    </title>

      {% block head %}
      {% endblock %}

      <link href="/static/css/homepage.css"  rel="stylesheet">

      
  </head>

  <body>

    <nav class="navbar navbar-expand-md nav-transparent w-100">
      <div class="container-fluid">
      <a class="navbar-brand" href="/"> <img src="/static/img/Pill-favicon-36x36.png" width="30" height="30" alt=""> </a>
      <div id="navbar" class="navbar-collapse collapse navbar-expand-lg">
      <ul class="navbar-nav">
        <li class="nav-item">
      <a class="nav-link" href="/create_user">Create Account</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="/login_page">User Login</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="/users/{{user_id}}">User Dashboard</a>
      </li>
        <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
      </div>
    </nav>
    
      <!-- Allow each page access to stored session flash messages -->
        {% for msg in get_flashed_messages() %}
          <p class="flash-msg">
            <div class="alert alert-warning" role="alert">
          <strong> {{ msg }} </strong>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
           </div>
          </p>
        {% endfor %}
    
     
    <!-- Script tags from getbootstrap.com -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    {% block body %}
    {% endblock %}
    
    {% block after_body %}
    {% endblock %}

  </body>

</html>
