{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block body %}
<div class="text-center"> 
    <h2>Change Password</h2>
    <br>
    <br>
    <form action="/change_pw" method="POST">
    
            <p>
                Email
                <input class="custom-input" type="text" name="email" placeholder="Email">
            </p>

        <p>
            <label>
                Old Password
            </label>
            <input class="custom-input" type="password" name="old_pw" id="old_pw" placeholder="Old Password">
        </p>

        <p>
            <label>
                New Password
            </label>
            <input class="custom-input" type="password" name="new_pw" id="new_pw" placeholder="New Password">
        </p>
            <p>
                Confirm New Password 
                <input class="custom-input" type="password" name="new_pw2" placeholder="New Password">
            </p>

        <br>
      
            <input class="btn custom-button-1" type="submit" value = "Save Changes" name="save" id="save">
  
    </form>
</div>        


{% endblock %}        