{% extends 'base.html' %}

{% block body %}

<div class="text-center"><h2>Contact me:</h2> 

    <a class="line-wipe" href="https://www.linkedin.com/in/khanh-mai-33190/" target="_blank" rel="noopener noreferrer">LinkedIn</a>   <br>
    <a  href="https://github.com/khanderz" target="_blank" rel="noopener noreferrer">Github</a>   <br>
    <a  href="/message_page" target="_blank" rel="noopener noreferrer">Send me a message</a>  <br>

    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="business" value="WQDP8NL8YYFP4" />
      <input type="hidden" name="no_recurring" value="0" />
      <input type="hidden" name="item_name" value="If you are able, please help fund this site and the creation of other useful web apps for pharmacists and patients. Thank you." />
      <input type="hidden" name="currency_code" value="USD" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
      <br>

{% endblock %}