{% extends 'base.html' %}

{% block body %}

<body>

    <div class="d-flex justify-content-center">    <h2>Create an Account</h2> </div>
  
    <div class="text-center"> Already have an account? <a href="/login_page"> Login! </a>
        <br>
        <br>


    <form action="/user_reg" method="POST">

        <p>
            Email 
            <input class="custom-input" type="text" name="email">
        </p>

        <p>
            Password 
            <input class="custom-input" type="password" name="password1">
        </p>

        <p>
            Confirm Password 
            <input class="custom-input" type="password" name="password2">
        </p>

        <p>
            <input class="btn custom-button-1" type="submit" value="Register">
        </p>

    </form>

</div>

</body>

{% endblock %}