{% extends 'base.html' %}

{% block body %}
  <body>
  <h1>Morphine Milligram Equivalent (MME) Calculator</h1>
  
  <main>
  <div class="input-title">Drug</div>
    <form action='/results'>
      <select name="drug" name="drug">
        <option>Codeine</option>
        <option>Fentanyl transdermal</option>
        <option>Fentanyl buccal/sublingual/lozenge</option>
        <option>Fentanyl film/oral spray</option>
        <option>Fentanyl nasal spray</option>
        <option>Hydrocodone</option>
        <option>Hydromorphone</option>
        <option>Methadone 1-20mg</option>
        <option>Methadone 21-40mg</option>
        <option>Methadone 41-60mg</option>
        <option>Methadone 61-80mg</option>
        <option>Morphine</option>
        <option>Oxycodone</option>
        <option>Oxymorphone</option>
        <option>Tapentadol</option>
      </select>

    <div class="input-title">Dose</div>
      <input type="text" name="dose">

    <div class="input-title">Quantity</div>
      <input type="text" name="quantity">

    <div class="input-title">Days Supply</div>
      <input type="text" name="days_supply">

    
    <button class="add-to-list">
      Add to medication list
    </button>

    <section id="your-medList">
      <h1>Medication list</h1>

      <table>
        <thead>
          <tr>
            <th>Medications</th>
          </tr>
        </thead>

        <tbody id="med-list"></tbody>
      </table>


      <h2>
        <div>
          Total MME: <span id="mme-total">0.00</span>
        </div>     
      </main>

    </form>
  </body>
  {% endblock %}