{% extends 'base.html' %}



{% block body %}

<body>
  <div class="d-flex justify-content-center"><h1>Morphine Milligram Equivalent (MME) Calculator</h1> </div>

  <main>
    <div class="homepage">

    <div class="parent-container d-flex">

      <div class="container">

        <div class="row">

          <div class="col">

         
  
                Drug
                <form name="drug-form" id="drug-form">
                  <select name="drug" id="drug">
                    <option value="Codeine">Codeine</option>
                    <option value="Fentanyl transdermal">Fentanyl transdermal</option>
                    <option value="Fentanyl buccal/sublingual/lozenge">Fentanyl buccal/sublingual/lozenge</option>
                    <option value="Fentanyl film/oral spray">Fentanyl film/oral spray</option>
                    <option value="Fentanyl nasal spray">Fentanyl nasal spray</option>
                    <option value="Hydrocodone">Hydrocodone</option>
                    <option value="Hydrocodone">Hydromorphone</option>
                    <option value="Methadone 1-20mg">Methadone 1-20mg</option>
                    <option value="Methadone 21-40mg">Methadone 21-40mg</option>
                    <option value="Methadone 41-60mg">Methadone 41-60mg</option>
                    <option value="Methadone 61-80mg">Methadone 61-80mg</option>
                    <option value="Morphine">Morphine</option>
                    <option value="Oxycodone">Oxycodone</option>
                    <option value="Oxymorphone">Oxymorphone</option>
                    <option value="Tapentadol">Tapentadol</option>
                  </select>
                  <br>
                  <br>

                  Total Daily Dose<br>
                  <input class="custom-input" type="text" name="dose" id="dose"> in mg (mcg for Fentanyl)
                  <br>
                  <br>

                  Quantity<br>
                  <input class="custom-input" type="text" name="quantity" id="quantity">
                  <br>
                  <br>

                  Days Supply<br>
                  <input class="custom-input" type="text" name="days_supply" id="days_supply">
                  <br>
                  <br>

                  Date Filled<br>
                  <input class="custom-input" type="datetime" name="date_filled" id="date_filled"> (format YYYY-MM-DD) 
                  <br>
                  <br>


                  <input class="btn custom-button-1" id='calculate-button' type="submit" value="Add med" form="drug-form">

                  <input class="btn custom-button-1" id='save-list-button' type="button" value="Save med to your dashboard">

                  <input class="btn custom-button-1" id='clear-med-list' type="button" value="Clear med list">

                              

            </div>
        </div>    
    </div>

    
    <div class="container">

      <div class="row">

        <div class="col">
              

                <section id="your-medList">

                  <div class="d-flex justify-content-center"> 

                    <h1>Medication list</h1> </div>
              

                  <table class="table table-striped">


                    <thead>
                      <tr>
                        <th scope="col">Drug Name</th>
                        <th scope="col">Dose</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Days Supply</th>
                        <th scope="col">Date Filled</th>
                        <th scope="col">Calculated MME</th>
                      </tr>
                    </thead>

                    <tbody id="med-list"></tbody>
                  </table>
                <br>
                <br>
                <br>
                <br>


  
          <h2>
            <p>
              Total MME: <span id="mme-total"></span>
            </p>
          </h2>  

          <h2>   
            <p> 
              Clinical assessment: <span id="assessment"></span>
            </p>
          </h2>    
          <p>
            <i>
              *There is no completely safe opioid dose, and this calculator does not substitute for clinical judgment. Use caution when prescribing opioids at any dosage, and prescribe the lowest effective dose.*
            </i>
          </p>
      </form>

      <h2>Instructions:</h2> 
      <p>
        There are 2 ways to add a med to the medication list to calculate MME:
        <ul>
          <li>add med button</li>
          <li> save med button (must be logged in)</li>
        </ul>
      The save med button has the additional functionality of saving the med to your user dashboard.
      If you would like the drug to be added to your weekly and monthly assessments (which can be viewed in your user dashboard), then date filled is a required input.
      </p> 


      <!-- logout button -->
        <form action="/logout">
          <strong> Click to log out of your account: </strong>
          <button class="btn custom-button-1" type="submit" name="logout">
              Log Out
          </button>
      </form>

      <!-- donate button -->
        <form action="https://www.paypal.com/donate" method="post" target="_top">
          <input type="hidden" name="business" value="WQDP8NL8YYFP4" />
          <input type="hidden" name="no_recurring" value="0" />
          <input type="hidden" name="item_name" value="If you are able, please help fund this site and the creation of other useful web apps for pharmacists and patients. Thank you." />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>

        </div> 
      </div>
    </div>
  </div>   
</main>

  <script src="/static/js/drug-calc.js"></script>

</div>
</body>


{% endblock %}