{% extends 'base.html' %}

{% block body %}

<body>
  <h1>Morphine Milligram Equivalent (MME) Calculator</h1>

  <main>
    <div class="input-title">Drug</div>
    <form name="drug-form" id="drug-form">
      <select name="drug" id="drug">
        <option value="Codeine">Codeine</option>
        <option value="Fentanyl transdermal">Fentanyl transdermal</option>
        <option value="Fentanyl buccal/sublingual/lozenge">Fentanyl buccal/sublingual/lozenge</option>
        <option value="Fentanyl film/oral spray">Fentanyl film/oral spray</option>
        <option value="Fentanyl nasal spray">Fentanyl nasal spray</option>
        <option value="Hydrocodone">Hydrocodone</option>
        <option value="Hydrocodone">Hydromorphone</option>
        <option value="Methadone 1-20mg">Methadone 1-20mg</option>
        <option value="Methadone 21-40mg">Methadone 21-40mg</option>
        <option value="Methadone 41-60mg">Methadone 41-60mg</option>
        <option value="Methadone 61-80mg">Methadone 61-80mg</option>
        <option value="Morphine">Morphine</option>
        <option value="Oxycodone">Oxycodone</option>
        <option value="Oxymorphone">Oxymorphone</option>
        <option value="Tapentadol">Tapentadol</option>
      </select>

      <div class="input-title">Total Daily Dose</div>
      <input type="text" name="dose" id="dose"> in mg (mcg for Fentanyl)

      <div class="input-title">Quantity</div>
      <input type="text" name="quantity" id="quantity">

      <div class="input-title">Days Supply</div>
      <input type="text" name="days_supply" id="days_supply">

      <div class="input-title">Date Filled</div>
      <input type="datetime" name="date_filled" id="date_filled"> (format YYYY-MM-DD) <br>


      <input id='calculate-button' type="submit" value="Add med to list and calculate MME" form="drug-form">

      <input id='save-list-button' type="button" value="Save med list to your database">

      <input id='clear-med-list' type="button" value="Clear med list">



      <section id="your-medList">
        <h1>Medication list</h1>

        <table>
          <thead>
            <tr>
              <th>Drug Name</th>
              <th>Dose</th>
              <th>Quantity</th>
              <th>Days Supply</th>
              <th>Date Filled</th>
              <th>Calculated MME</th>
            </tr>
          </thead>

          <tbody id="med-list"></tbody>
        </table>

        <h2>
          <div>
            Total MME: <span id="mme-total"></span>
          </div>
          <div> 
            Clinical assessment: <span id="assessment"></span>
          </div>

  </main>
  </form>

  <script src="/static/js/drug-calc.js"></script>

</body>

<!-- logout -->
<form action="/logout">
  Click to log out of your account:
    <button type="submit" name="logout">
      Log Out
  </button>
</form>

<a href="/users/{{user_id}}">User details page</a> 
{% endblock %}