{% extends 'base.html' %}

{% block body %}

<div class="d-flex justify-content-center"> <h2>Send me a message</h2> </div>
<br>

<div class="container">
    <div class="text-center"> 
        <form action="/message" method="POST">

            <div class="form-group">
                <label for="firstName"> First Name </label>
                <input class="custom-input" type="text" id="firstName" name="first_name" placeholder="First Name"> 
            </div>

            <div class="form-group">
                <label for="lastName"> Last Name </label>
                <input class="custom-input" type="text" id="lastName" name="last_name" placeholder="Last Name"> 
            </div>

            <div class="form-group">
                <label for="email"> Email </label>
                <input class="custom-input" type="text" id="email" name="email" placeholder="Email"> 
            </div>


            <!-- <p>Message type 
                <select name="messageType" id="message_type">
                    <option value="comment">Comment</option>
                    <option value="bug">Bug encountered</option>
                    <option value="question">Question</option>
                    <option value="question">Help</option>
                    <option value="other">Other</option>
                </select>
            </p> -->

            <div class="form-group">
                <label for="message"> Message: </label> <br>
                <textarea class="custom-input" name="message" id="message" cols="30" rows="5"> </textarea>
            </div>

            <p>
                <input class="btn custom-button-1" type="submit" value="Submit message">
            </p>

        </form>
    </div>
</div>   




{% endblock %}