{% extends 'base.html' %}

{% block body %}
<br>
<br>
<br>
<div class="text-center">


    <h2>Clinical resources:</h2>
 
          <a class="line-wipe" href="https://www.goodrx.com/naloxone" target="_blank" rel="noopener noreferrer">GoodRx Naloxone Coupon</a>   <br>
            <a class="line-wipe" href="https://www.cdc.gov/drugoverdose/prescribing/guideline.html" target="_blank" rel="noopener noreferrer">CDC Opioid Prescribing Guideline</a>   <br>
          <a class="line-wipe" href="https://noac.org/" target="_blank" rel="noopener noreferrer">National Opioid Action Coalition</a>   <br>
            <a class="line-wipe" href="https://feduprally.org/" target="_blank" rel="noopener noreferrer">Fed Up: A Coalition to End the Opioid Epidemic</a>   <br>
         <a class="line-wipe" href="https://painadvocacycoalition.com/" target="_blank" rel="noopener noreferrer">Pain Advocacy Coalition</a>   <br>
         <br>

    <h2>Contact me:</h2> 
        <a class="line-wipe" href="https://www.linkedin.com/in/khanh-mai-33190/" target="_blank" rel="noopener noreferrer">LinkedIn</a>   <br>
        <a  href="https://github.com/khanderz" target="_blank" rel="noopener noreferrer">Github</a>   <br>
        
</div>
{% endblock %}