{% extends 'base.html' %}

{% block body %}

<div class="parent-container d-flex">

  <div class="container">

    <div class="row">

      <div class="col">
        <div class="text-center"><h2>About the project:</h2> </div>
        
        <p>
          MME is a numerical standard for clinicians to gauge opioid addiction risk. 
          It is the amount of morphine in milligrams equivalent to the strength of the opioid dose prescribed. 
          Calculating total daily MME can help guide clinicians in pain management and aid in mitigating opioid addiction and accidental overdose. 
          The calculator will calculate the total daily MME for the given medication list, and relay the appropriate clinical assessment for the MME that populates.
          <br>
          <br>
          This web app is designed for use by clinicians and by patients.
          <br>
          <br>
          Weekly and monthly charts on the user dashboard displays 7-day and 30-day total daily MMEs. This feature allows the clinician/patient to assess when a person experienced one or more days in the last 7 days/30 days where their cumulative MME from opioid prescriptions exceeded 90 MME, increasing their risk of opioid addiction and/or accidental overdose.
          <br>
          <br>
          <b> For patients: </b> Using this web app to calculate your MME will increase the transparency between you and your pain management. 
          Understand your options and ways to improve your therapy by reading the clinical assessments based on your MME. 
          Know what is an acceptable therapeutic range and when it may be time to consider a naloxone prescription, which could save your life in an accidental overdose situation. 
         <b> Be prepared. Know your risk. Take control back. </b>
        </p>
      </div>
    </div>
  </div>



  <div class="container">

    <div class="row">

      <div class="col">
          <div class="text-center">
              <h2>Clinical resources:</h2>
          
                    <a class="line-wipe" href="https://www.goodrx.com/naloxone" target="_blank" rel="noopener noreferrer">GoodRx Naloxone Coupon</a>   <br>
                      <a class="line-wipe" href="https://www.cdc.gov/drugoverdose/prescribing/guideline.html" target="_blank" rel="noopener noreferrer">CDC Opioid Prescribing Guideline</a>   <br>
                    <a class="line-wipe" href="https://noac.org/" target="_blank" rel="noopener noreferrer">National Opioid Action Coalition</a>   <br>
                      <a class="line-wipe" href="https://feduprally.org/" target="_blank" rel="noopener noreferrer">Fed Up: A Coalition to End the Opioid Epidemic</a>   <br>
                  <a class="line-wipe" href="https://painadvocacycoalition.com/" target="_blank" rel="noopener noreferrer">Pain Advocacy Coalition</a>   <br>
                  <br>

              <h2>Contact me:</h2> 
                  <a class="line-wipe" href="https://www.linkedin.com/in/khanh-mai-33190/" target="_blank" rel="noopener noreferrer">LinkedIn</a>   <br>
                  <a  href="https://github.com/khanderz" target="_blank" rel="noopener noreferrer">Github</a>   <br>
                  <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="business" value="WQDP8NL8YYFP4" />
                    <input type="hidden" name="no_recurring" value="0" />
                    <input type="hidden" name="item_name" value="If you are able, please help fund this site and the creation of other useful web apps for pharmacists and patients. Thank you." />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                    <br>

              <h2>Sources cited:</h2>   
                [1] <a class="line-wipe" href="https://www.cdc.gov/drugoverdose/prescribing/guideline.html" target="_blank" rel="noopener noreferrer">CDC Opioid Prescribing Guideline</a>   <br>
                        
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}