{% extends 'base.html' %}

{% block body %}

    <h1>Resources</h1>

    <h2>Clinical resources:</h2>
        <ul>
            <li><a class="line-wipe" href="https://www.goodrx.com/naloxone" target="_blank" rel="noopener noreferrer">GoodRx Naloxone Coupon</a></li>
            <li><a class="line-wipe" href="https://www.cdc.gov/drugoverdose/prescribing/guideline.html" target="_blank" rel="noopener noreferrer">CDC Opioid Prescribing Guideline</a></li>
            <li><a class="line-wipe" href="https://noac.org/" target="_blank" rel="noopener noreferrer">National Opioid Action Coalition</a></li>
            <li><a class="line-wipe" href="https://feduprally.org/" target="_blank" rel="noopener noreferrer">Fed Up: A Coalition to End the Opioid Epidemic</a></li>
            <li><a class="line-wipe" href="https://painadvocacycoalition.com/" target="_blank" rel="noopener noreferrer">Pain Advocacy Coalition</a></li>


            
        </ul>    

    <h2>Contact me:</h2> 
        <ul>
            <li><a class="line-wipe" href="https://www.linkedin.com/in/khanh-mai-33190/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
            <li><a  href="https://github.com/khanderz" target="_blank" rel="noopener noreferrer">Github</a></li>
        </ul>

{% endblock %}