{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}

<h1>{{ user.email }}</h1>
<p>
    <h4>User ID: {{ user.user_id }}</h4>
</p>
<p>
    <h4>Medication lists by {{ user.email }}:</h4>
    {% if user.med_list %}
        {% for drug in user.med_list %}
            <li>Drug: {{ drug.opioid.opioid_name }}</li>
            <br>
        {% endfor %}
    {% else %}
        <li>No medication lists by this user </li>
    {% endif %}
<br>
</p>

Return to homepage <a href="/">here</a>
{% endblock %}