{% extends 'base.html' %}

{% block body %}

<body>

    <div class="d-flex justify-content-center"> <h2>User login</h2> </div>

        <div class="text-center"> Don't have an account? <a href="/create_user"> Sign up! </a>
        <br>

        <form action="/user_login" method="POST">
            <br>
            <p>
                Email 
                <input class="custom-input" type="text" name="email">
            </p>

            <p>
                Password 
                <input class="custom-input" type="password" name="password">
            </p>
                <!-- <a href="/reset_page"> Forgot Password? </a> -->
                <a href="/change_pw_page"> Change Password</a>
                <br>
                <br>
            <p>
                <input class="btn custom-button-1" type="submit" value="Login">
            </p>

        </form>

        </div>
</body>

{% endblock %}