{% extends 'base.html' %}

<!-- title -->
{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}
<!-- checks if user is logged in, if not, will reroute -->
{% if user %}

<!-- greeting -->
<div class="d-flex justify-content-center"> 
    <h1>Hello, {{ user.email }}</h1>
</div>

<div class="d-flex justify-content-center"> 
<p>
    <h4>User ID: {{ user.user_id }}</h4>
</p>
</div>


<!-- user med lists -->
<div class="text-center">
<p>
    <h4>{{ user.email }}'s Medication List:</h4>
    {% if user.med_list %}
        {% for drug in user.med_list %}
            <li>Drug: {{ drug.opioid.opioid_name }} 
                Dose: {{ drug.drug_dose }}
                Quantity: {{ drug.quantity }}
                Days Supply: {{ drug.days_supply }}
                Date Filled: {{ drug.date_filled }} 
                Total Daily MME: {{ drug.daily_MME }} 
               </li>
            <br>
        {% endfor %}
    {% else %}
        <li>No medication lists by this user </li>
    {% endif %}
{% else %}
    <p>Please return to homepage and log in</p>
{% endif %}
<br>
</p>
</div>





<!-- bar charts -->
<div class="d-flex justify-content-center">
    <div class="chart">
    <h2>Weekly assessment chart</h2>
    <p>This chart plots the data for drugs active from 7 days ago ({{ ago }}) to today ({{ today }}). </p>
    <canvas id="week-bar-chart"></canvas>

</div>
</div>
<br>
<br>

<div class="d-flex justify-content-center">
<div class="chart">

    <h2>Monthly assessment chart</h2>
    <p>This chart plots the data for drugs active for this month of {{ month }}. </p>
    <canvas id="month-bar-chart"></canvas>

</div> 
</div>
   

<br>

<!-- logout -->
<div class="text-center">
<form action="/logout">
    <strong> Click to log out of your account: </strong>
      <button class="btn custom-button-1" type="submit" name="logout">
        Log Out
    </button>
  </form>
  </div>

{% endblock %}

{% block after_body %}
<!-- chart.js file import -->
  <script src="/static/js/chart.js"></script>
{% endblock %}