{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}
{% if user %}

<h1>Hello, {{ user.email }}</h1>
<p>

    <h4>User ID: {{ user.user_id }}</h4>
</p>
<p>
    <h4>Medication lists by {{ user.email }}:</h4>
    {% if user.med_list %}
        {% for drug in user.med_list %}
            <li>Drug: {{ drug.opioid.opioid_name }} 
                Dose: {{ drug.drug_dose }}
                Quantity: {{ drug.quantity }}
                Days Supply: {{ drug.days_supply }}
                Date Filled: {{ drug.date_filled }} 
                Total Daily MME: {{ drug.daily_MME }} 
               </li>
            <br>
        {% endfor %}
    {% else %}
        <li>No medication lists by this user </li>
    {% endif %}
{% else %}
    <p>Please return to homepage and log in</p>
{% endif %}    
<br>
</p>


  <div id="site-content">
    <h2>Monthly assessment</h2>
    <canvas id="bar-chart"></canvas>


<br>
Return to homepage <a href="/">here</a>
{% endblock %}

{% block js %}
  <script src="/static/js/chart.js"></script>
{% endblock %}